.login {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.input {
  height: 30px;
  margin-bottom: 8px;
  padding: 8px;
}

.btn {
  margin-top: 12px;
  height: 24px;
  cursor: pointer;
}
