.invite {
  color: var(--color-burgundy);
  text-align: left;
  padding: 0 8px;
}
.title {
  color: var(--color-yellow);
  font-family: Paladinscond;
  font-size: 22px;
  margin: 8px 24px 0;
  text-align: left;
}
.sole {
  margin: 8px 0 12px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label {
  color: var(--color-burgundy);
  font-weight: 600;
  font-family: AvenirNextRegular;
}
.input {
  color: var(--color-burgundy);
  width: 190px;
  height: 24px;
  outline: none;
  background-color: transparent;
  font-family: AvenirNextRegular;
  border: none;
  border-bottom: 1px solid var(--color-burgundy);
}
.input::-webkit-input-placeholder {
  opacity: 0.5;
  color: var(--color-burgundy);
}
.msg {
  display: flex;
  flex-direction: row-reverse;
  color: var(--color-red);
}
.btn {
  font-family: Paladinscond;
  color: var(--color-white);
  padding: 14px 24px;
  background: var(--color-burgundy);
  border-radius: 24px;
  font-size: 12px;
  margin: 20px auto 12px;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
}
.text {
  color: var(--color-burgundy);
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
}
.form {
  margin-top: 10px;
}
.disabled {
  opacity: 0.8;
  cursor: default;
}
