.title {
  color: var(--color-burgundy);
  font-family: Paladinscond;
  font-size: 22px;
  margin: 0;
  margin-bottom: 18px;
  text-align: left;
}
.text {
  color: var(--color-burgundy);
  margin: 0;
  margin-bottom: 8px;
  text-align: left;
}
.row {
  margin: 8px 0;
}
.label {
  display: block;
  text-align: left;
  color: var(--color-burgundy);
  font-family: AvenirNextBold;
  margin-bottom: 6px;
}
.input {
  color: var(--color-burgundy);
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--color-burgundy);
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
}
.input::-webkit-input-placeholder {
  opacity: 0.5;
}
.btn {
  font-family: Paladinscond;
  color: var(--color-white);
  padding: 12px 32px;
  background: var(--color-burgundy);
  border-radius: 24px;
  font-size: 12px;
  margin: 22px 42px 16px;
  cursor: pointer;
  border: none;
  outline: none;
}
.disabled {
  opacity: 0.8;
  cursor: default;
}
.warning {
  text-align: left;
  color: var(--color-red);
}
