.title {
  padding: 12px 12px;
  background-color: var(--color-burgundy);
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid grey;
}
.content {
  padding: 12px;
}
.wrapper {
  transform: translate3d(0, 0, 0);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: var(--color-white);
  color: var(--color-burgundy);
  font-size: 12px;
}
.active {
  transform: translate3d(0, 0, 0);
  max-height: 500px;
}
