.welcome {
  height: 200px;
  padding: 28px;
  display: flex;
  flex-direction: column;
}

.welcome a {
  margin-top: 20px;
}

.msg {
  margin: 0 28px;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 6px;
  height: 36px;
  border: 2px solid var(--color-burgundy);
  border-right: 0;
}
.right {
  width: 6px;
  height: 36px;
  border: 2px solid var(--color-burgundy);
  border-left: 0;
}
.mid {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.text {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 10px;
  line-height: 16px;
}
