.msg {
  margin: 0 28px 10px;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 6px;
  height: 36px;
  border: 2px solid var(--color-burgundy);
  border-right: 0;
}
.right {
  width: 6px;
  height: 36px;
  border: 2px solid var(--color-burgundy);
  border-left: 0;
}
.mid {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.text {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 10px;
  line-height: 16px;
}
.tips {
  font-size: 10px;
  text-align: left;
  margin: 0;
}
.btn {
  font-family: Paladinscond;
  text-decoration: none;
  color: var(--color-white);
  padding: 12px 0;
  margin: 0 52px;
  background: var(--color-burgundy);
  border-radius: 24px;
  font-size: 12px;
  margin-top: 30px;
}
.divider {
  position: relative;
  margin: 30px 42px 0;
  height: 1px;
  background: var(--color-burgundy);
}
.divider span {
  font-family: Paladinscond;
  color: var(--color-yellow);
  position: absolute;
  top: -9px;
  left: 0;
  margin: 0 auto;
  width: 100%;
}
