.form {
  margin-top: 6px;
}
.sole {
  margin: 8px 0 12px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input {
  color: var(--color-white);
  width: 190px;
  height: 24px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-burgundy);
  font-size: 16px;
}
.input::-webkit-input-placeholder {
  color: var(--color-burgundy);
}
.row small {
  color: var(--color-yellow);
}
.btn {
  font-family: Paladinscond;
  color: var(--color-white);
  padding: 12px 36px;
  background: var(--color-burgundy);
  border-radius: 24px;
  font-size: 12px;
  margin-top: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}
.disabled {
  opacity: 0.8;
  cursor: default;
}
.text {
  font-size: 12px;
  text-align: left;
  margin: 0;
  margin-bottom: 12px;
}
