.title {
  padding: 10px 8px;
  background-color: rgb(224, 222, 222);
  margin: 0;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  border-bottom: 1px solid grey;
}
.content {
  padding: 12px;
}
